.dep-container {
     background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

/* Blue rectangular frame */
.dep-frame {
  width: 90%;
  max-width: 1300px;
  border: none;
  border-radius: 20px;
  padding: 80px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title */
.dep-title {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 70px;
  line-height: 1.3;
  cursor:pointer;
}

/* Placeholder lines */
.dep-lines {
  margin-bottom: 20px;
}

.line {
  width: 540px;
  height: 13px;
  background: #9ca3af;
  margin: 8px auto;
  border-radius: 4px;
}

.line.short {
  width: 320px;
}

/* Buttons */
.dep-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}



.btn-outline {
  background: transparent;
  border: 2px solid #0ea5e9;
  padding: 12px 24px;
  border-radius: 10px;
  color: #0ea5e9;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #0ea5e918;
}
.dep-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.dep-card {
  background: #121212;
  border-radius: 15px;
  border-color: #dcd9d9 !important ;
  border-style: solid;
  width: 300px;
  height: 200px;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
  text-align: left;
}


.dep-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dep-title-bar {
  width: 180px;
  height: 30px;
  background: #c0c5d4;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor:pointer;
}

.dep-text-bar {
  width: 100%;
  height: 10px;
  background: #c0c5d4;
  border-radius: 4px;
}

.dep-text-bar.short {
  width: 70%;
}

/* Adjust "See More" button below cards */
.dep-frame .btn-outline {
  margin-top: 50px;
}
