/* Main container */
.hero-container {
  position: relative;         /* necessary for overlay */
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 105px;
  overflow: visible;
}

.hook{
  font-size: 30px;
  margin-bottom: 50px;
}
.hero-design {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);   /* center the SVG */
  width: 100%;
  max-width: 1600px;             /* adjust if needed */
  z-index: 10;                   /* SVG on top */
  pointer-events: none;  
  height: 600px;        /* buttons still clickable */
}

/* Blue rectangular frame WITH CONTENT under the SVG */
.hero-frame {
  position: relative;
  z-index: 5;                    /* below SVG */
  width: 90%;
  max-width: 1300px;
  border: none;
  border-radius: 20px;
  padding: 80px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title */
.hero-title {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 70px;
  line-height: 1.3;
}

/* Placeholder lines */
.hero-lines {
  margin-bottom: 20px;
}

.line {
  width: 540px;
  height: 13px;
  background: #9ca3af;
  margin: 8px auto;
  border-radius: 4px;
}

.line.short {
  width: 320px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn-primary {
  background: #0ea5e9;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-outline {
  background: transparent;
  border: 2px solid #0ea5e9;
  padding: 12px 24px;
  border-radius: 10px;
  color: #0ea5e9;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #0ea5e918;
}