.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   
}

.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  padding-top: 0px;
}
.post-bottom {
  background-color: #000;
  padding: 25px;
}

/* Bottom title bar */
.title-bar {
  height: 40px;
  width: 240px;
  background-color: #d4dce8;
  border-radius: 2px;
  margin-bottom: 20px;
}
/* Input field wrapper */
.input-wrapper {
  display: flex;
  align-items: center;
  width: 420px;
  background: linear-gradient(180deg, #1e293b, #111827);
  border-radius: 8px;
  padding: 14px 16px;
  margin-bottom: 16px;
}

/* Icon inside input */
.input-icon {
  color: #9ca3af;
  margin-right: 12px;
  font-size: 16px;
}

/* Actual input */
.input-wrapper input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #e5e7eb;
  font-size: 14px;
}

.input-wrapper input::placeholder {
  color: #9ca3af;
}

/* Login text */
.login-link {
  color: #9ca3af;
  font-size: 13px;
  margin-bottom: 20px;
}

.login-link span {
  color: #38bdf8;
  cursor: pointer;
}

/* Sign up button */
.signup-btn {
  width: 160px;
  padding: 10px;
  background-color: #38bdf8;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #0ea5e9;
}

.login-footer {
  width: 100%;
  background-color: #000;
  color: #9ca3af;
  font-size: 12px;
  text-align: center;
  padding: 16px 0;
  margin-top: 15px ;
}
.title{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 50px;
   
}
