.posts-container {
     background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* Blue rectangular frame */
.posts-frame {
  width: 90%;
  max-width: 1300px;
  border: none;
  border-radius: 20px;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Title */
.posts-title {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  cursor:pointer;
}

/* Placeholder lines */
.posts-lines {
  margin-bottom: 20px;
}

.posts-lines .line {
  width: 540px;
  height: 13px;
  background: #9ca3af;
  margin: 8px auto;
  border-radius: 4px;
}

.posts-lines .line.short {
  width: 320px;
}

/* Cards wrapper (this was missing!!) */
.posts-cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Card */
.post-card {
  width: 380px;
  border: 3px solid #d9d7d7;
  border-radius: 40px;
  overflow: hidden;
  background: #000;
  font-family: sans-serif;
}

/* Top Section */
.post-top {
  background-color: #2c3446;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid white; 
}

/* Icon box */
.image-icon {
  width: 55px;
  height: 55px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

/* Bottom Section */
.post-bottom {
  background-color: #000;
  padding: 25px;
}

/* Bottom title bar */
.title-bar {
  height: 40px;
  width: 240px;
  background-color: #d4dce8;
  border-radius: 2px;
  margin-bottom: 20px;
}

/* Text lines inside card */
.post-bottom .line {
  height: 14px;
  width: 320px;
  background-color: #e6ebf4;
  border-radius: 2px;
  margin-bottom: 12px;
}

.post-bottom .line.short {
  width: 65%;
  margin-left: 4px;
}

/* Buttons */
.posts-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 150px;
}

.btn-outline {
  background: transparent;
  border: 2px solid #0ea5e9 !important;
  padding: 12px 24px;
  border-radius: 10px;
  color: #0ea5e9 !important ;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #0ea5e918;
}
