* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #0A0C10; /* or your global bg color */
  font-family: Inter, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
