
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0A0C10; 
  font-family: Inter, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: 'Inter', sans-serif;
  color: white;
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
}
